body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('ruta/de/tu/imagen.jpg'); /* Agrega la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 4rem 0; /* Aumenta el espacio superior e inferior */
}

h1 {
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px; /* Ajusta el radio según tu preferencia */
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
}

section {
    margin: 2rem;
}

h2 {
    color: #333;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
